# Environment & secrets
.env
serviceAccountKey.json
frtontend/.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
*.egg-info/

# Django
db.sqlite3
media/

# ChromaDB
api/chroma_db/

# Node / React
node_modules/
dist/
frontend/dist/

# OS
.DS_Store
Thumbs.db